# Переменные окружения
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# Typescript build
dist

backend/node_modules
backend/dist
backend/.env
frontend/node_modules
frontend/dist