# Переменные окружения
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# Typescript build
dist

backend/.env
backend/.env.deploy
backend/node_modules
backend/dist
frontend/.env.deploy
frontend/node_modules
frontend/dist